<template name="eventCard">
<div class="col-md-3">
  <div class="box box-widget">
    <div class="box-header with-border">
      <h3 class="box-title">{{location}} - {{startDate}}</h3>
      <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <span class="event_info event_type">{{type}}</span>
      <span class="event_info event_location">{{location}}</span>
      <span class="event_info event_attendees">{{current_attendees}} / {{max_attendees}}</span>
      <span class="event_info more_info"><a href="event/{{_id}}">More Info</a></span>
    </div>
  </div>
</div>
</template>
