/* Override the min-height and the wrapper overflow-y so it actually stays the full height of the page. */
html, body, body > div.skin-blue, body > div.skin-blue > div.wrapper {
  height: 100%;
}

.wrapper {
  overflow-y: auto;
}

#clientList .client {
  cursor: pointer;
}

.add-button {
  color: #00a65a;
  cursor: pointer;
}

.client-buttons button {
  font-weight: bold;
}

#activity {
  max-height: 600px;
  overflow-y: auto;
}

#search {
  display: none;
  position: relative;
  top: 10px;
  color: black;
  float: left;
  height: 30px;
  width: 150px;
  border-radius: 2px;
  border: none;
}

.profile-user-img {
  margin: 0 auto;
  width: 100px;
  padding: 3px;
  border: 3px solid #d2d6de;
}
