<template name="clientInfo">
  {{#with client}}
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title col-sm-4">
        {{firstName}} {{lastName}}
      </h3>
      <div id="info" class="col-sm-8">
        <span id="email" class="col-sm-5">{{> editableText collection="clients" field="email"}}</span>
        <span id='phone-list' class="col-sm-3">{{> editableText collection="clients" field="phone"}}</span>
          <span id='address' class="col-sm-4">
              <address>
                  {{> editableText collection="clients" field="address"}}
                  {{> editableText collection="clients" field="city"}}
                  {{> editableText collection="clients" field="state"}}
                  {{> editableText collection="clients" field="zip"}}
                </address>
          </span>
        </div>
      <div class="client-buttons pull-right">
        <!-- <button class="btn btn-info js-edit-client-info"><i class="fa fa-pencil fa-lg"></i> Edit Info</button> -->
      </div>
    </div>
    <div class="box-body">
      <div class='col-md-12' id="activity">
          <ul class='timeline'>
              <li class='time-label'>
                  <span class='bg-red'>
                      Nov 10, 2016
                  </span>
              </li>
              <li>
                  <i class='fa fa-comment bg-blue'></i>
                  <div class='timeline-item'>
                      <span class='time'><i class='fa fa-clock-o'></i> 12:05</span>
                      <h3 class='timeline-header'> Joey left a comment </h3>
                      <div class='timeline-body'>
                          This would be an example of a comment.
                      </div>
                      <div class='timeline-footer'>
                          <a class='btn btn-info btn-xs'>Edit</a>
                          <a class='btn btn-danger btn-xs'>Delete</a>
                      </div>
                  </div>
              </li>
              <li>
                  <i class='fa fa-envelope bg-green'></i>
                  <div class='timeline-item'>
                      <span class='time'><i class='fa fa-clock-o'></i> 3:00 PM</span>
                      <h3 class='timeline-header'> You sent {{ full_name }} an email </h3>
                      <div class='timeline-body'>
                          Hello, <br>
                          I am writing you an email.<br>
                          Sincerely, <br>
                          Jimmy
                      </div>
                  </div>
              </li>
              <li class='time-label'>
                  <span class='bg-red'>
                      Nov 10, 2017
                  </span>
              </li>
              <li>
                  <i class='fa fa-comment bg-blue'></i>
                  <div class='timeline-item'>
                      <span class='time'><i class='fa fa-clock-o'></i> 12:05</span>
                      <h3 class='timeline-header'> Jimmy left a comment </h3>
                      <div class='timeline-body'>
                          Man, it's sure been a while, hasn't it?
                      </div>
                      <div class='timeline-footer'>
                          <a class='btn btn-info btn-xs'>Edit</a>
                          <a class='btn btn-danger btn-xs'>Delete</a>
                      </div>
                  </div>
              </li>
              <li class='time-label'>
                  <span class='bg-red'>
                      Nov 11, 2017
                  </span>
              </li>
              <li>
                  <i class='fa fa-comment bg-blue'></i>
                  <div class='timeline-item'>
                      <span class='time'><i class='fa fa-clock-o'></i> 7:38</span>
                      <h3 class='timeline-header'> Joey left a comment </h3>
                      <div class='timeline-body'>
                          Yeah, it sure has.
                      </div>
                      <div class='timeline-footer'>
                          <a class='btn btn-info btn-xs'>Edit</a>
                          <a class='btn btn-danger btn-xs'>Delete</a>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
      <div id='purchases' class="col-md-12">
          <table class='table'>
              <tr>
                  <th></th>
                  <th>Events</th>
                  <th>Packages</th>
              </tr>
              <tr>
                  <td>Future: </td>
                  <td>
                      <ul>
                          <li>Event</li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td>Current:</td>
                  <td>
                      <ul>
                          <li>Event 1</li>
                      </ul>
                  </td>
                  <td>
                      <ul>
                          <li>Package 1</li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td>Past:</td>
                  <td>
                      <ul>
                          <li>Event 2</li>
                          <li>Event 3</li>
                      </ul>
                  </td>
                  <td>
                      <ul>
                          <li>Package 2</li>
                      </ul>
                  </td>
              </tr>
          </table>
      </div>
    </div>
  </div>

  {{/with}}
</template>
